/* Print Styles */
/* Author: Logan Burns */
/* Date: August 3, 2015 */

/* Hide Elements */

nav, header {
  display: none;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

/* formats page for printing */
body{
  color: black;
  background-color: white;
  background-image: none;
  font-size: 12pt;
  font-family: "Times New Roman", Times, serif;
  line-height: 120%;
}
